@use './variables' as *;

// Responsive Breakpoints
@mixin mobile {
  @media (max-width: $breakpoint-md - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}


// Flexbox utilities
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Text truncation
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin styled-scrollbar {
  /* Chrome / Edge / Safari */
  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    background: #1e1e1e;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 8px;
    border: 3px solid #1e1e1e; /* creates padding effect */
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
  }

}

