@use './styles/variables' as *;

.app {
  min-height: 100vh;
}

.wrapper {
  max-width: 1100px;
  margin: 50px auto;

  h1 {
    margin-bottom: 20px;
  }

  .content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 80px;
  }
}